body{
	margin: 0px;
	padding: 0px;
}
div{
	position:relative;
}
.page-container{
	background-color: #000;
	font-family: 'Signika Negative', sans-serif;
	height:100vh;
}
#firstpage{
	background-image: url("../images/9.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: right top;
}
#top-bar{
	height:100px;
	width: 100%;
	font-size: 170%;
	position: fixed;
	top:0px;
	z-index: 100;
}
.menubaritems{
	color:#dcd5bb;
	display: inline-block;
	padding:10px;
}
#about,#signup,#login{
	float:right;
	font-size:120%;
	margin:10px;
}
#voteon{
	float:left;
	font-size:200%;
	margin: 10px;
}
#about:hover,#signup:hover,#login:hover{
	font-size: 150%;
}
#voteon:hover{
	font-size: 250%;
}
#userinput{
	background-color: #110b15;
	width: 100%
	height:100%;
}
.input{
	background-color: #1b1221;
	background-image:url("../images/9.jpg");
	background-position: right top;
	padding:40px;
	position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 50%;
    height: 50%;
    margin: auto;
}
.inputformhead{
	background-color: #dcd5bb;
	color:#110b15;
	display: inline;
	padding:0px
	margin: 0px;
	width: 25%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
	position: absolute;
	top:30px;
	cursor:pointer;
}
#loginform{
	background-color: #110b15;
	color:#dcd5bb;
	left:24.9%;
}
#signupform{
	right:24.9%;
}
#input-container{
	position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 50%;
    height: 50%;
    margin: auto;
}
#usn,#pass,#pass1{
	width:75%;
	padding:10px;
	position: absolute;
	left: 6.25%;
}
#usn{
	top:30px;
}
#pass{
	top:100px;
}
#pass1{
	top:170px;
}
#usnlabel,#passlabel,#passlabel1{
	position: absolute;
	left:6.25%;
	color:#dcd5bb;
}
#usnlabel{
	top:10px;
}
#passlabel{
	top:80px;
}
#passlabel1{
	top:150px;
}
.submit{
	display: inline;
	padding:0px
	margin: 0px;
	width: 25%;
    height: 60px;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
	position: absolute;
	bottom:20px;
	left: 37.5%;
}
#submitbtn{
	font-family: 'Signika Negative', sans-serif;
	width: 100%;
	height:100%;
	background-color:#dcd5bb;
	border: none;
	color:#110b15;
	font-size: 120%;
	cursor:pointer;
}
#submitbtn:hover{
	background-color: #110b15;
	color:#dcd5bb;
}
#aboutpage{
	background-color: #110b15;
	text-align: center;
	color:#dcd5bb;
	padding:200px;
	height:50vh;
}